*{
    margin: 0px;padding: 0px;
}
body{
    background: #0e131b;
}
.container{
    width: 1000px;
    height: 1380px;

    margin: 0 auto;
    padding: 0;
}
.header{
    width: 980px;
    height:60px;

    padding: 0 10px 0 10px;

}

#name{
    font-size: 38px;
    color:"#61a6d0";
    line-height: 60px;
    cursor: pointer;
    font-family: Avenir Next, Segoe UI, Verdana, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    display: inline-block;
}
.header p{
    display: inline-block;
    line-height: 15px;
    font-size: 13px;
    line-height: 1em;
    color: #007cef;
    padding-left: 10px;
    margin-top: -2px;
}
.breadcrumb{
    background:transparent;
    margin-top: 15px;
}
.breadcrumb li{
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;font-family: Avenir Next, Segoe UI, Verdana, Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.show{
    width: 1000px;
    height: 420px;;
}
.show img{
    width: 1000px;
    height: 420px;
    border-radius: 20px;
}
.product{
    width: 1000px;
    height: 600px;
    margin-top: 150px;
}
.first-line {
    width: 1000px;
    height: 180px;

}
.second-line {
    width: 1000px;
    height: 180px;
}
.last-line{
    width: 1000px;
    height: 180px;

}
.one {
    width: 320px;
    height: 170px;
    float: left;
    margin: 5px 5px 5px 5px;
}
.two{
    width: 320px;
    height: 170px;
    float: left;
    margin: 5px 5px 5px 5px;
}
.three{
    width: 320px;
    height: 170px;
    float: left;
    margin: 5px 5px 5px 5px;
}
.product img{
    display: inline-block;
    width: 320px;
    height: 170px;
    border-radius: 20px;
}
.product img:hover{
    opacity: 0.8;
    transform: scale(1.2,1.2);
    z-index:1;
    border: 1px solid black;
    border-radius: 10px;
}
.box {
    width: 100%;
    background: #041527;
    padding-bottom: 80px;
    position: relative;
}

.box_in {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.box .hd {
    display: inline-block;
    background: url(../images/hd_bg.png) no-repeat left bottom;
    padding-bottom: 38px;
    padding-top: 60px;
}
.box5 {
    background: #E4EBE9 url(../images/bg.jpg);
}

.box5 .hd {
    background-image: url(../images/hd_bg1.png);
}

.box5 .hd h2 {
    color: #009199;
    border-color: #05B5BF;
}

.box5 div.fsbanner {
    position: relative;
    overflow: hidden;
    width: 960px;
    height: 600px;
    color: #fff;
    margin: 60px auto 0;
    font-size: 20px;
    -webkit-text-stroke: 1px black;
}

.box5 .fsbanner div {
    position: absolute;
    background-size: cover;
    cursor: pointer;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    overflow: hidden;
}

.box5 .fsbanner div p {
    padding-top: 25px;
}

.box5 .fsbanner div p.p1 img {
    float: inherit;
    margin-left: 30px;
}

.box5 .fsbanner div p.p1 span {
    float: inherit;
    display: inline-block;
    width: 460px;
    padding-left: 60px;
    padding-top: 30px;
}

.box5 .fsbanner div p.p2 span {
    color: #fff;
}

.box5 .fsbanner div img {
    float: left;
    margin-left: 70px;
}

.box5 .fsbanner div span {
    float: left;
    padding-left: 40px;
    padding-top: 120px;
    font-size: 15px;
    line-height: 24px;
    color: #000;
    -webkit-text-stroke: 0;
    width: 230px;
    text-align: left;
}

.box5 .fsbanner div span b {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.box5 .p_txt {
    color: #112131;
}

.box5 .a_btn {
    background: #05B5BF;
    color: #fff;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

    