#works{
    overflow: hidden;
    height: 1300px;
    position: relative;
}
.wWrap{
    height: 1000px;
    transform-style: preserve-3d;
    transform:translateX(35%) translateY(50px) rotateX(45deg) rotateZ(45deg) ;
}
.wWrap ul{
    font-size: 0;
    width: 1080px;
    position: relative;
    top: 0;
}
.wWrap li{
    width: 330px;
    margin: 15px;
    height: 230px;
    position: relative;
    float: left;
    transition: 0.3s;
    cursor: pointer;
    background: rgba(255,255,255,0.5);
}
.wWrap li img,.wWrap li div{
    position: absolute;
    width: 330px;
    height: 230px;
    left: 0;
    top: 0;
    transition: 0.3s;
    z-index: 4;
}
.wWrap li div:nth-of-type(1){
    background: #ac5cf5;
    opacity: 0.5;
    z-index: 3;
}
.wWrap li div:nth-of-type(2){
    background: #5db4eb;
    opacity: 0.5;
    z-index: 2;
}
.wWrap li div:nth-of-type(3){
    background: #5debb4;
    opacity: 0.5;
    z-index: 1;
}
.wWrap li.blur{
    filter: blur(20px);
}

.wWrap li:hover{
    box-shadow: 0 0 50px #fff;
}
.wWrap li:hover img:nth-of-type(1){
    transform: translateZ(100px);
}
.wWrap li:hover div:nth-of-type(1){
    transform: translateZ(75px);
}
.wWrap li:hover div:nth-of-type(2){
    transform: translateZ(50px);
}
.wWrap li:hover div:nth-of-type(3){
    transform: translateZ(25px);
}