.content{
    width: 1000px;
    height: 1824px;;
}
.content ul li {
    width: 100px;
}
.content ul li  a{
   text-align: center;
}
#p{
    
    width: 1000px;
    height: 1700px;
    background: white;

}
